.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  display: grid;
  grid-gap: 0;
  border: 1px solid darkgrey;
}

.tile {
  width: 20px;
  height: 20px;
  border: 1px solid darkgrey;
  box-sizing: border-box;
  line-height: 16px;
  user-select: none;
}